    .jumbotron{
     background-image:url('../img/fiyahwurkz.jpg');
     background-size: cover;
     background-color:#cdcdcd
 }
 
     .jumbotron p {
     	color:#c92424;
     }
     h1,
     h2
     h3{font-family: Futura,Helvetica,Arial,sans-serif;}
}
.intro p{ font-family: Futura,Helvetica,Arial,sans-serif
	  font-weight:100;
      font-size:3em;}
p {
    font-family: Georgia, Times, 'Times New Roman', serif;
    }
  .container{
    width:80%;
    margin:0 auto;
    padding:50px;
}


                                                            



/*Typography*/
